.orange-text {
    color: orange !important;
}
.footer {
    margin-top: 80px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
div {
    border: 1px;
}
body{
    background-color: skyblue;
}
.row{
    margin-top: 20px;
}
